<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mašinos</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      <h2>Mašinų sarašas</h2>
      <ul>
        <li th:each="car : ${cars}">
          <span
            th:text="${car.marke} + ' ' + ${car.modelis} + ', ' + ${car.turis} + 'L, ' + ${car.maxGreitis} + ' km/h'"
          ></span>
        </li>
      </ul>
      <div class="buttons">
        <a href="/masinos/isrikiavimas-pagal-greiti">Rikiavimas pagal greitį</a>
        <a href="/masinos/isrikiavimas-pagal-marke">Rikiavimas pagal marke</a>
      </div>
      <div class="buttons">
        <a href="/masinos/vidutinis-turis">Apskaičiuoti vidutinį tūrį</a>
        <a href="/masinos/paieska">Mašinų paieška</a>
      </div>
    </div>
  </body>
</html>
