<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mašinų paieška</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      <h2>Mašinų paieška</h2>
      <div class="main-color-spacing">
        <form action="/masinos/paieska" method="post">
          <div class="input-div">
            <label for="make">Markė:</label>
            <input type="text" id="make" name="make" />
          </div>
          <div class="input-div">
            <label for="model">Modelis:</label>
            <input type="text" id="model" name="model" />
          </div>
          <div class="buttons search-buttons">
            <button type="submit">Ieškoti</button>
          </div>
        </form>
      </div>
      <div class="buttons">
        <a href="/masinos">Grįžti į pagrindinį</a>
      </div>
    </div>
  </body>
</html>
